
.btn {
  background: linear-gradient(to right, #574B90, #9E579D);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.body-registration, .body-login, .body-createTrain {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(224, 85, 255, 1) 0%, rgba(123, 0, 255, 1) 100%);
}

#title-registration {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

<<<<<<< HEAD


.card-registration {
=======
.card {
>>>>>>> cbf3a731560d4a0169823265e654da2752a80c68
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 60%;
}

.FinalText{
	color:white; 
	font-size: 30px;
	text-decoration: none; 
	margin-bottom: 20px;
	display: block;
}

.FinalText2{
	color:white; 
	font-size: 20px;
	text-decoration: none; 
	margin-bottom: 10px;
	display: block;
}

.container{
	margin-bottom:20px;
}

input {
  border-radius: 8px;
  border: none;
  text-align: center;
}
.input-submit {
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.15s;
}
.input-submit:hover {
  background-color: rgba(224, 85, 255, 1)!important;
  color: white;
}
.div-submit {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-bottom: 15px;
}
a {
  text-decoration: none;
  transition: 0.15s;
}
a:hover {
  color:rgba(224, 85, 255, 1)!important;
}
.btn.btn-primary {
	border: none;
}
#btn-approve {
	border: none;
}
.createTrainForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}
option {
	text-align: center;
}
#produttore {
	border-radius: 8px;
}